.select-input {
  width: 250px;
  // transition: 0.15s ease-in-out;

  .select-arrow {
    width: 25px;
    padding: 4px;
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 3px;
    stroke-opacity: 0.35;
    fill: rgba(34, 139, 34, 0.6);
    transform: rotateZ(90deg);
    transition: 0.15s ease-in-out;
    cursor: pointer;

    &.open-arrow {
      // transform: rotateZ(270deg);
      // fill: rgba(255, 99, 71, 0.75);

      fill: rgba(255, 99, 71, 0.75);
      transform: rotateZ(270deg);
    }
  }
}
